html{
    width: 1250px;
    height: 1250px;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;  
}
.whole{
    background-color:#333a35;
    width: 1250px;
    height: 1250px;
}
#logo{
    display: flex;
    justify-content: flex-start;
    height: 50px;
}
.logo{
    margin: 12px;
    padding-top: 0px;
}
ul{
    display: flex;
    margin:0px;
    padding: 0px;
    }
li{
    margin: 25px;
    margin-top: 25px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Muli';    
    font-weight: bold;
}
i{ color: #eca419

}
nav {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding-right: 300px;
    margin-right: 110px;
    background-color:#333a35;
    color: white;
}  
.container{
    display: flex;
    width: 1200px;
}
.box{
    display: flex;
    flex-direction: column;
}
.special{
    background-image: url('stream420x240.jpg');
}
.special,.relax{ 
    width: 420px;
    height: 237px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.relax{
    background-image: url('relax420x237.jpg');
}
.stream,.relaxwild{
    color:white;
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 25px;
    text-transform: uppercase;
}
.hikespecial{ 
    background-image: url('desert780x477.jpg');
    width: 780px;
    height: 474px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hike{
    margin-left: 25px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: solid 3px #eca419;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
    color:white;
    font-family: Arial;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#eca419
}
a:active{
}

.photostrip{
    display: flex;
    align-items: flex-start;
    background-color:white;
    width: 1200px;
    height:300px;
    padding-top: 25px;
    justify-content:center;
    justify-content: space-evenly;
}
.recipes{
    background-image: url('recipes.jpg');
    width: 279px;
    height: 183px;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
}

.tent{
    background-image: url('tent.jpg');
    width: 279px;
    height: 183px;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
}
.candles{
    background-image: url('candles.jpg');
    width: 279px;
    height: 183px;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
}
.backpack{
    background-image: url('backpacks.jpg');
    width: 279px;
    height: 183px;
    display: flex;
}
.recipestext, .tenttext, .candlestext, .backpacktext{
    text-align: left;
    font-family: Arial;
    text-transform: uppercase;
    margin-top: 190px;
}
.gear{
    flex-direction: column; 
    background-color: #dfd7c7;
    padding-top: 25px;
    display: flex;
    /* align-items: center; */
    width: 1200px;
    height:1250px;
}
h1{
    color:#eca419;
    text-align: center;
    font-size: 40px;
    margin-bottom:0px;
}
#chairtext, #cooksettext, #candles2text, #hatstext{
    font-family: Arial;
    /* margin-top: 190px; */
    display: flex;
    justify-content: center;
}
.chair,.cookset,.hats,.candles2{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    align-items: flex-start;
    background-color: white;
    margin: 45px;
}